/* ProfileForm.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #1A252F;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #1A252F;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1A252F;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
button {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #1A252F;
  box-shadow: 0 0 5px rgba(26, 37, 47, 0.5);
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #1A252F;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #14202A;
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .form-container {
    margin: 20px;
    padding: 15px;
  }

  input,
  textarea,
  button {
    font-size: 14px;
    padding: 8px;
  }
}
